*{
   font-family: Arial, Helvetica, sans-serif;
   
}
h1{
    color: cornflowerblue;
    text-align: center
}
h2{
    color: plum;
    text-align: center;
}
table{
    margin: auto;
    border: 1px solid pink;
    width: 1000px;
}
th{
    background-color: blueviolet;
}
td{
  border: 0.5px solid pink;
}